body{
    background: #000;
}
tr>td{
    color: whitesmoke;
}
b>i{
    color: green;
}
.a1{
    position: relative;
} 
.a2 img{
    max-width: 100%;
    height: auto;
} 
.fa-television{
    color: green;
}
.fa-hourglass-start{
    color: green;
}
.fa-database{
    color: green;
}
.fa-shield{
    color: green;
}